.navbar-brand{
    margin-left: 100px;
    font-size: xx-large;
    font-style: oblique;

}
#position{
    margin-top:10rem;
    margin-right:10px
}

#country-details{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:1.8rem;
    background-color: 	#eeecec;
    justify-content: center;
    box-shadow: #858080;
    padding: 2rem;
    
     
  }
  .size{
    font-size:small;
  }
  
  #size{
    font-size: large;
    font-family: sans-serif
  }
  
  #flag-card{
    height: 27rem;
    width: 22rem;
    background-color:white;
    margin: auto;
    border-radius: 5px;
  }
  
  img{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
  }
  #image{
    height:60%;
    width: 100%;
    object-fit: contain;
  }
  #text{
    height: 40%;
    padding-left: 2rem;
    text-size-adjust: 4px;
    
  }
  .padding{
    margin-top: 0px; 
    margin-bottom: 5px;
    font-size: large;
  }
   span{
    font-style: oblique;
    font-weight: normal;
   }
  