<p>filter-country works!</p>
<div id="country-details">
    <div *ngFor="let item of country">
        <div id="flag-card">
            <div id="image"> <img alt="flag" [src]="item.flag"> </div>
            <div id="text">
                <h1 class="padding">{{item.name}}</h1>
                <h2 class="padding">Capital:    <span > {{item.capital}}   </span> </h2>
                <h2 class="padding">population: <span > {{item.population}}</span> </h2>
                <h2 class="padding"> Region:    <span > {{item.region}}    </span> </h2>
            </div>
        </div>
    </div>
</div>